{% extends 'base.html.twig' %}

{% block title %} Recette - Accueil {% endblock %}

{% block body %}
    <div class="container mt-4">
        <div class="jumbotron">
            <h1 class="display-4">Bienvenue sur Partage de recette</h1>
            <p class="lead">
                Partage de recette est une application qui va te permettre de créer des recettes et de les partager.
            </p>
            <hr class="my-4">
            <p>Pour commencer, rendez-vous sur la page d'inscription pour utiliser l'application. </p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Inscription</a>
        </div>
    </div>
{% endblock %}