{% extends 'base.html.twig' %}

{% block title %} Recette - Accueil {% endblock %}

{% block body %}
    <div class="container mt-4">
        <div class="jumbotron">
            <h1 class="display-4">Bienvenue sur Partage de recette</h1>
            <p class="lead">
                Partage de recette est une application qui va te permettre de créer des recettes et de les partager.
            </p>
            <hr class="my-4">
            <p>Pour commencer, rendez-vous sur la page d'inscription pour utiliser l'application. </p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Inscription</a>
        </div>

        <div class="recipes">
            <h2 class="mt-4">Recettes de la communauté</h2>
            <div class="d-flex justify-content-between">
                {% for recipe in recipes %}
                    <div class="card border-primary mb-3" style="max-width: 20rem;">
                        <div class="card-header">Recette n°{{ recipe.id }}</div>
                        <div class="card-body">
                            <h4 class="card-title">{{ recipe.name }}</h4>
                            <p class="card-text">{{ recipe.description | slice(0, 100) ~ '...' }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>


{% endblock %}